@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
/* this is the top level div */
#mainPage{
    background-color:white;
    height:120vh;
    width:100vw;
    display:flex;
    justify-content:center;
    flex-direction:row;
    align-items:center;
    border:0px solid orange;
    background-color:white;
}
#mainPage > *{
    width:80%;
}

.logo{
    display:flex;
    flex-direction:row;
    align-items:center;
    border:0px solid red;
    gap:10px;
    padding-left:5px;
    padding-right:5px;
    margin-left:20px;
}
.logo img{
    width:35px;
}
.logo .text{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.logo h2{

    font-size:22px;

    color:black;

    letter-spacing:1px;

    font-weight:bold;

}

.logo span{

    color:var(--primary);

    font-size:13px;

    font-weight:600;

    letter-spacing:1px;

}
