.home header{
    display:flex;
}
.home header figure{
    flex-basis:30%;
    border:1px solid red;
}
.home header nav{
    display:flex;
    flex-basis:70%;
    border:1px solid red;
    justify-content:flex-end;
    align-items:center;
}
.home header nav ul{
   display:flex;
   gap:10px;
}
.home header nav ul li{
    display:inline;
    font-size:1.1rem;
    padding:10px;
}
