.map-stations{
    display:flex;
    width:100%;
    flex-direction:row;
    border:1px solid black;
    height:50%;
}
#map { 
    border:1px solid black;
    flex:1.5;
    height:100%;
    margin:0 auto;
}
.station {
    display:flex;
    flex-direction:column;
    gap:clamp(10px, 12px, 12px);
    height:100%;
    padding:clamp(6px, 2vh, 10px);
    border:0px solid green;
    flex:1;
    overflow:scroll;
    justify-content: stretch;
}
.station > *{
    border:0px solid red;
}
.name{
    font-weight:bold;
    font-size:clamp(16px, 16px, 20px);
    flex-grow:1;
}
.description{
    font-style:italic;
    flex-grow:2;
}
.view, .signup{
    flex-grow:1;
    border:0px solid red;
}
.view a, .signup a{
    border-radius:4px;
    background-color:#2D84CB;
    padding:7px 7px 7px 7px;
}