#login_page{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#0f172a;
}
#login_page #login{
    width:30%;
    height:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color:white;
    border-radius:1rem;
}
#login_page #login #error{
    background-color:#0f172a;
    color:white;
    border-radius:0.5rem;
}
#login_page #login #title{
    font-size:1.5rem;
    font-weight:bold;
}
#login_page #login form{
    display:flex;
    flex-direction:column;
    gap:2rem;
    border:0px solid red;
    width:80%;
    padding:1rem;    
}
#login_page #login form button[type='submit']{
    border:1px solid black;
    border-radius:0.5rem;
    padding:0.1rem;
}
#login_page #login form .form-group label{
    font-size:1.0rem;
}
#login_page #login form .form-group input{
    border:1px solid black;
    padding:0.15rem;
    width:100%;
    border-radius:0.5rem;
    padding-left:0.5rem;
}