.page{
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card{
    width:30%;
    height:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border:1px solid black;
    background-color:white;
    border-radius:1rem;
}
.error{
    font-size:0.8rem;
    color:black;
    text-align:center;
    color: red;
    padding-left:1rem;
    padding-right:1rem;
}
.title{
    font-size:1.5rem;
    font-weight:bold;
}
.form{
    display:flex;
    flex-direction:column;
    gap:2rem;
    border:5px solid red;
    width:80%;
    padding:1rem;    
}
button{
    border:1px solid black;
    border-radius:0.5rem;
    padding:0.1rem;
}
.form-group label{
    font-size:1.0rem;
}
.form-group input{
    border:1px solid black;
    padding:0.15rem;
    width:100%;
    border-radius:0.5rem;
    padding-left:0.5rem;
}
.form-group select{
    border:1px solid black;
    border-radius:0.5rem;
    padding-left:0.5rem;
    padding:0.15rem;
    width:100%;
}