#success{
  background: #2ecc71;
  color: white;
  padding: 12px;
  text-align: center;
}
#error{
  background:#e74c3c;
  color:white;
  padding:12px;
  text-align:center;
}
#status{
  background-color:#0f172a;
  height:100vh;
  width:100%;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
}
#status #welcome{
  display:flex;
  justify-content:center;
  
}
#status #title{
  font-size:2rem;
  color:white;
}
#status .row table thead tr th{
  border:1px solid blue;
  text-align:center;
  padding:1rem;
}
#status .row table tr td{
  border:1px solid blue;
  text-align:center;
  padding:1rem;
}
#status .row table tr td:last-child{
  font-weight:bold;
  font-size:1.1rem;
}