#main{
    display:grid;
    height:100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.75fr 6fr 1fr 0.5fr;
    grid-template-areas:
    "station updatedAt currentWeather"
    "graph  stats predictions"
    "weather weather readings"
    "footer footer footer";
    gap: 15px 2px; /* row column gap*/
}
#station{
    grid-area: station;
    border:1px solid white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    padding-left:15%;
    background-color:#FEFEFE;
    box-shadow: 0 4px 12px rgba(15, 23, 42, 0.08);
}
#updatedAt{
    grid-area:updatedAt;
    border:1px solid white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-start;
    padding-left:15%;
    background-color:#FEFEFE;
    box-shadow: 0 4px 12px rgba(15, 23, 42, 0.08);
}

#station #title, #station #id, #updatedAt #title, #updatedAt #id{
    color:#5D6570;
    font-weight:600;
    font-size:0.85rem;
}
#station #name{
    font-weight:bold;
    font-size:1rem;
}
#updatedAt #name{
    font-weight:bold;
    font-size:1rem;
}


#currentWeather{
    grid-area:currentWeather;
    border:1px solid red;
}
#graph{
    grid-area:graph;
    border:1px solid red;
}
#stats{
    grid-area:stats;
    border:1px solid red;
}
#predictions{
    grid-area:predictions;
    border:1px solid red;
}
#weather{
    grid-area:weather;
    border:1px solid red;
    display:flex;
    flex-direction:row;
}
#readings{
    grid-area:readings;
    border:1px solid red;
}
#footer{
    grid-area:footer;
    border:1px solid red;
}