#main{
    display:grid;
    height:100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 5fr 1.5fr 0.5fr;
    grid-template-areas:
    "station updatedAt currentWeather"
    "graph  stats predictions"
    "weather weather readings"
    "footer footer footer";
    gap: 5px 7px; /* row column gap*/
    margin-left:5%;
    margin-right:5%;
    margin-top:2%;
    margin-bottom:2%;
}
#main > div{
    border-radius:15px;
    background-color:#FEFEFE;
    box-shadow: 0 4px 12px rgba(15, 23, 42, 0.08);
}
#currentWeather{
    grid-area:currentWeather;
    border:1px solid white;
    display:grid;
    height:100%;
    grid-template-columns:1fr 5fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-areas:
    'currentWeatherImage title'
    'currentWeatherImage temperature'
    'currentWeatherImage description';
    column-gap:2px;
    padding-left:5%;
}
#currentWeather #image{
    grid-area:currentWeatherImage;
    border:0px solid red;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

#currentWeather #title{
    grid-area:title;
    color:#5D6570;
    font-weight:600;
    font-size:0.85rem;
    border:0px solid red;
    display:flex;
    align-items:flex-end;
}
#currentWeather #temperature{
    grid-area:temperature;
    font-weight:bold;
    font-size:1rem;
    border:0px solid red;
}
#currentWeather #description{
    grid-area:description;
    color:#5D6570;
    font-weight:600;
    font-size:0.85rem;
    border:0px solid red;
    display:flex;
    align-items:flex-start;
}



#station{
    grid-area: station;
    border:1px solid white;
    display: grid;
    height:100%;
    grid-template-columns:1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "stationImage title"
    "stationImage name"
    "stationImage id";
    column-gap:2px;
    padding-left:5%;
}
#station #title{
    grid-area:title;
    color:#5D6570;
    font-weight:600;
    font-size:0.85rem;
    border:0px solid red;
    display:flex;
    align-items:flex-end;
}
#station #id{
    grid-area:id;
    color:#5D6570;
    font-weight:600;
    font-size:0.85rem;
    border:0px solid red;
    display:flex;
    align-items:flex-start;

}
#station #name{
    grid-area:name;
    font-weight:bold;
    font-size:1rem;
    border:0px solid red;
}
#station #image{
    grid-area:stationImage;
    border:0px solid red;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

#updatedAt{
    grid-area:updatedAt;
    border:1px solid white;
    display:grid;
    grid-template-areas:
    "updatedAtImage title"
    "updatedAtImage ago"
    "updatedAtImage time";
    grid-template-columns:1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    height:100%;
    column-gap:2px;
    padding-left:5%;
}
#updatedAt #image{
    grid-area:updatedAtImage;
    border:0px solid red;
    display:flex;
    justify-content:center;
    align-items:center;
}

#updatedAt #title{
    grid-area:title;
    color:#5D6570;
    font-weight:600;
    font-size:0.85rem;
    border:0px solid red;
    display:flex;
    align-items:flex-end;
}
#updatedAt #ago{
    grid-area:ago;
    font-weight:bold;
    font-size:1rem;
    border:0px solid red;
}
#updatedAt #time{
    grid-area:time;
    color:#5D6570;
    font-weight:600;
    font-size:0.85rem;
    border:0px solid red;
    display:flex;
    align-items:flex-start;
}

#currentWeather{
    grid-area:currentWeather;
    border:1px solid white;
    display:grid;
    grid-template-areas:
    "currentWeatherImage title"
    "currentWeatherImage temperature"
    "currentWeatherImage message";
    grid-template-columns:1fr 5fr;
    grid-template-rows: 1fr 1fr 1fr;
    height:100%;
    column-gap:2px;
    padding-left:5%;
    border:0px solid red;
}

#currentWeather #image{
    grid-area:currentWeatherImage;
    border:0px solid red;
    display:flex;
    justify-content:center;
    align-items:center;
}
#currentWeather #title{
    grid-area:title;
    color:#5D6570;
    font-weight:600;
    font-size:0.85rem;
    border:0px solid red;
    display:flex;
    align-items:flex-end;
}
#currentWeather #temperature{
    grid-area:temperature;
    font-weight:bold;
    font-size:1rem;
    border:0px solid red;
}
#currentWeather #message{
    grid-area:message;
    color:#5D6570;
    font-weight:600;
    font-size:0.85rem;
    border:0px solid red;
    display:flex;
    align-items:flex-start;
}

#graph{
    grid-area:graph;
    border:1px solid white;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}
#graph #title{
    color:black;
    font-weight:600;
    padding-left:5%;
    display:flex;
}
#graph #title div:nth-child(2){
    align-self:center;
}
#graph #image{
    border:1px solid white;
}

#stats{
    grid-area:stats;
    border:0px solid black;
    height:100%;
    display:flex;
    flex-direction:column;
}
#stats #title{
    display:flex;
    padding-left:5%;
    color:black;
    font-weight:600;
}
#stats #stastics{
    flex:1;
}
#stats #title div:nth-child(2){
    align-self:center;
}
#stats #stastics ul{
    display:flex;
    flex-direction:column; /* by default row */
    justify-content:space-evenly;
    border:0px solid red;
    height:100%;
}
#stats #stastics ul li span:nth-child(1){
    color:#5D6570;
    font-weight:600;
    font-size:1rem;
}

#predictions{
    grid-area:predictions;
    border:0px solid red;
    height:100%;
    display:flex;
    flex-direction:column;
}
#predictions #title{
    display:flex;
    flex-direction:row;
    padding-left:5%;
    color:black;
    font-weight:600;
}
#title div:nth-child(2){
    align-self:center;
}
#predictions #predict{
    border:0px solid red;
    flex:1;
    height:100%;
}
#predictions #predict ul{
    display:flex;
    flex-direction:column;
    height:100%;
    border:0px solid red;
    justify-content:space-evenly;
}
#predictions #predict ul li{
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    gap:10px;
}
#predictions #predict ul li span:nth-child(1){
    color:#5D6570;
    font-weight:600;
    font-size:1rem;
}
#weather{
    grid-area:weather;
    border:0px solid red;
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
}
#weather #title{
    display:flex;
    flex-direction:row;
    padding-left:3%;
    gap:3px;
}
#weather #title div:nth-child(2){
    align-self:center;
    color:black;
    font-weight:600;
}

#weather #details{
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}
#weather #details div{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    border:0px solid red;
}
#weather #details div span{
    margin:auto;
}
#weather #details div span:nth-child(1){
    color:#5D6570;
    font-weight:600;
    font-size:1rem;
}
#readings{
    grid-area:readings;
    border:1px solid red;
}
#readings #title{
    display:flex;
    flex-direction:row;
    padding-left:3%;
    gap:3px;
}
#readings #title div:nth-child(2){
    align-self:center;
    color:black;
    font-weight:600;
}
#readings #details ul{
    display:flex;
    flex-direction:column;
    justify-content:space-evenly;
    border:1px solid red;
}
#readings #details ul li{
    border:1px solid red;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
}

#footer{
    grid-area:footer;
    border:0px solid red;
    margin:auto;
    color:#5D6570;
    font-weight:600;
    font-size:0.9rem;
}