#workflow{
    width:100%;
    height:100%;
}
#workflow #title{
    display:flex;
    justify-content:center;
    font-size:1.5rem;
    padding-top:1rem;
    text-decoration-thickness:2px;
    text-decoration:underline;
    color:#0f172a;
}
#workflow #links{
    padding:1.2rem;
    font-size:1rem;
}
#workflow #links span{
    font-weight:bold;
}
